{% extends 'registros_aprendizados/base.html' %}

{% block header %}
	<h3>Tópicos</h3>
{% endblock header %}

{% block content %}

  <ul>
    {% for topico in topicos %}
	  <div class="panel panel-default">
		  <div class="panel-heading">
			  <h4>
				<a href="{% url 'registros_aprendizados:topico' topico.id %}">{{ topico }}</a>
			  </h4>
		  </div>
	  </div>
	{% empty %}   
	  <li> Nenhum tópico adicionado ainda. </li>
	{% endfor %}
  </ul>

 <h4><a href="{% url 'registros_aprendizados:novo_topico' %}">Inserir</a></h4>


{% endblock content %}