{% extends 'registros_aprendizados/base.html' %}

{% block header %}
  <h3>{{ topico }}</h3>
{% endblock header %}


{% block content %}
  <p>
    <a href="{% url 'registros_aprendizados:novo_assunto' topico.id %}">Novo Tópico</a>
  </p>

  <ul>
  {% for assunto in assuntos %}
    <div class="panel panel-default">
      <div class="panel-heading">
		  <h3>
        	{{ assunto.data|date:'M d, Y H:i' }}
        	<small>
				<a href="{% url 'registros_aprendizados:editar_assunto' assunto.id %}">Editar</a> -
				<a href="{% url 'registros_aprendizados:excluir_assunto' assunto.id %}">Excluir</a>
			</small>
		</h3>
      </div>
      <div class="card-body">
        {{ assunto.assunto|linebreaks }}
      </div>
    </div>
  {% empty %}
    <p>Ainda não há assuntos para este tópico.</p>
  {% endfor %}
  </ul>
{% endblock content %}
